.create-or-join-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

.create-or-join-view h1 {
    display: flex;
    flex-direction: column;
    font-size: 5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 100px;
    text-shadow: 0 0 10px var(--primary-sahdow);
    text-align: center;
}

.create-or-join-view h1 span {
    font-size: 0.6em;
    color: var(--secondary-text);
}

.create-or-join-view .view-content {
    display: flex;
    align-items: flex-start;
    height: 100%;

}

.create-or-join-view .view-content > form {
    display: flex;
    width: 400px;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--form-background);
    box-shadow: 0 0 10px var(--primary-sahdow);
}

.create-or-join-view .view-content > form:first-child {
    margin-right: 50px;
}

.create-or-join-view .view-content > form:hover {
    background-color: var(--form-highlighted-background);
}

.create-or-join-view .view-content > form > h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 30px 0;
}

.create-or-join-view .view-content > form > input {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px)
{
    .create-or-join-view h1 {
        font-size: 3em;
    }
    
    .create-or-join-view .view-content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    
    }
    
    .create-or-join-view .view-content > form {
        width: 90%;
    }
    
    .create-or-join-view .view-content > form:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }
}