.rounds-view {
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
    background-color: var(--rounds-background);
    border-radius: 10px;
    overflow: auto;
}

.rounds-view .round {
    padding-bottom: 10px;
    box-sizing: border-box;
}

.rounds-view .round .round-clue {
    display: flex;
    background-color: var(--rounds-header);
    padding: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
}

.rounds-view .round .round-clue > span {
    margin-right: 10px;
}

.rounds-view .round .round-word {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.7em;
    line-height: 100%;
    margin-top: 8px;
}

.rounds-view .round .round-word::before {
    content: "";
    margin-left: 10px;
    margin-right: 5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.rounds-view .round .round-word.grey::before {
    background-color: var(--card-grey);
}

.rounds-view .round .round-word.blue::before {
    background-color: var(--card-blue);
}

.rounds-view .round .round-word.black::before {
    background-color: var(--card-black);
}

@media screen and (max-width: 800px) {
    .rounds-view {
        flex-direction:column-reverse;
    }
}